<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="/favicon.ico" type="image/x-icon" />
		<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content="Descubre el portafolio de Sergi Lozano, un desarrollador web especializado en tecnologías frontend como Angular, JavaScript y CSS." />
		<title>Porfolio de Sergi Lozano - Desarrollador y Programador Web con 2 años de experiencia</title>
	</head>
	<body class="bg-discord-background text-white font-sans h-screen grid grid-cols-12">
		<slot />
	</body>
</html>

<style>
	html,
	body {
		background-color: #424549;
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
